@font-face {
  font-family: 'Aerohate Caps';
  src: url('/fonts/freepik/aerohate-aerohate-caps-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Black';
  src: url('/fonts/freepik/akuina-akuina-black-800.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Akuina Black Slanted 800';
  src: url('/fonts/freepik/akuina-akuina-black-slanted-800.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Akuina Bold 700';
  src: url('/fonts/freepik/akuina-akuina-bold-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Akuina Bold Slanted 700';
  src: url('/fonts/freepik/akuina-akuina-bold-slanted-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Akuina Extra Bold 800';
  src: url('/fonts/freepik/akuina-akuina-extra-bold-800.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Akuina Light 200';
  src: url('/fonts/freepik/akuina-akuina-light-200.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Akuina Light Slanted 200';
  src: url('/fonts/freepik/akuina-akuina-light-slanted-200.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Akuina Medium 500';
  src: url('/fonts/freepik/akuina-akuina-medium-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Akuina Medium Slanted 500';
  src: url('/fonts/freepik/akuina-akuina-medium-slanted-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Akuina Regular Slanted 400';
  src: url('/fonts/freepik/akuina-akuina-regular-slanted-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Regular 400';
  src: url('/fonts/freepik/akuina-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Semibold 600';
  src: url('/fonts/freepik/akuina-semibold-600.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akuina Semibold Slanted 600';
  src: url('/fonts/freepik/akuina-semibold-slanted-600.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bestters Supply Bestters Supply Regular 400';
  src: url('/fonts/freepik/bestters-supply-bestters-supply-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Big Bang Big Bang Slant 400';
  src: url('/fonts/freepik/big-bang-big-bang-slant-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Big Bang Big Bang Swashes 400';
  src: url('/fonts/freepik/big-bang-big-bang-swashes-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bilground Bilground Regular 400';
  src: url('/fonts/freepik/bilground-bilground-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Birthday Dream Birthday Dream Regular 400';
  src: url('/fonts/freepik/birthday-dream-birthday-dream-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bonitalia Bonitalia Regular 400';
  src: url('/fonts/freepik/bonitalia-bonitalia-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crown Ford Crown Ford Regular 400';
  src: url('/fonts/freepik/crown-ford-crown-ford-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Custody Custody Regular Script 400';
  src: url('/fonts/freepik/custody-custody-regular-script-400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dhaniel Dhaniel Regular 400';
  src: url('/fonts/freepik/dhaniel-dhaniel-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Different Beginning Different Beginning Bold 700';
  src: url('/fonts/freepik/different-beginning-different-beginning-bold-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Different Beginning Different Beginning Light 200';
  src: url('/fonts/freepik/different-beginning-different-beginning-light-200.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Different Beginning Different Beginning Regular 400';
  src: url('/fonts/freepik/different-beginning-different-beginning-regular-400.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Facon_Free';
  src: url('/fonts/freepik/Facon_FREE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freedom Standing Freedom Standing Extra Light 100';
  src: url('/fonts/freepik/freedom-standing-freedom-standing-extra-light-100.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freedom Standing Freedom Standing Extra Light Italic 100';
  src: url('/fonts/freepik/freedom-standing-freedom-standing-extra-light-italic-100.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freedom Standing Freedom Standing Light 200';
  src: url('/fonts/freepik/freedom-standing-freedom-standing-light-200.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freedom Standing Freedom Standing Light Italic 200';
  src: url('/fonts/freepik/freedom-standing-freedom-standing-light-italic-200.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freedom Standing Freedom Standing Regular 400';
  src: url('/fonts/freepik/freedom-standing-freedom-standing-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freedom Standing Freedom Standing Regular Italic 400';
  src: url('/fonts/freepik/freedom-standing-freedom-standing-regular-italic-400.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glitchgoblin_Free';
  src: url('/fonts/freepik/GlitchGoblin_FREE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Guthenberg Guthenberg Regular Swashes 400';
  src: url('/fonts/freepik/guthenberg-guthenberg-regular-swashes-400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hericake Hericake Regular 400';
  src: url('/fonts/freepik/hericake-hericake-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Holian Holian Regular 400';
  src: url('/fonts/freepik/holian-holian-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Keep Humble Keep Humble Regular 400';
  src: url('/fonts/freepik/keep-humble-keep-humble-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Magical Sparkle Magical Sparkle Regular 400';
  src: url('/fonts/freepik/magical-sparkle-magical-sparkle-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Magical Sparkle Magical Sparkle Regular Italic 400';
  src: url('/fonts/freepik/magical-sparkle-magical-sparkle-regular-italic-400.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Medium Unique Medium Unique Bold 700';
  src: url('/fonts/freepik/medium-unique-medium-unique-bold-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Medium Unique Medium Unique Regular 400';
  src: url('/fonts/freepik/medium-unique-medium-unique-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mercy Christole Mercy Christole Regular 400';
  src: url('/fonts/freepik/mercy-christole-mercy-christole-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Milksea Milksea Regular 400';
  src: url('/fonts/freepik/milksea-milksea-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mockatea Mockatea Regular 400';
  src: url('/fonts/freepik/mockatea-mockatea-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mofita Mofita 400';
  src: url('/fonts/freepik/mofita-mofita-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mofita Mofita Italic 400';
  src: url('/fonts/freepik/mofita-mofita-italic-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mofita Mofita Pro 400';
  src: url('/fonts/freepik/mofita-mofita-pro-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mofita Mofita Pro Italic 400';
  src: url('/fonts/freepik/mofita-mofita-pro-italic-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mongkrain Mongkrain Regular 400';
  src: url('/fonts/freepik/mongkrain-mongkrain-regular-400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Morthwicks Morthwicks Regular 400';
  src: url('/fonts/freepik/morthwicks-morthwicks-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playride Playride Regular 400';
  src: url('/fonts/freepik/playride-playride-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Retroking Retroking Regular 400';
  src: url('/fonts/freepik/retroking-retroking-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Retroking Retroking Regular Rough 400';
  src: url('/fonts/freepik/retroking-retroking-regular-rough-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'The Beautyline The Beautyline Regular 400';
  src: url('/fonts/freepik/the-beautyline-the-beautyline-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tratags Tratags Regular 400';
  src: url('/fonts/freepik/tratags-tratags-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Turbo Type Regular Turbo Type Regular 400';
  src: url('/fonts/freepik/turbo-type-regular-turbo-type-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Turbo Type Regular Turbo Type Two Regular 400';
  src: url('/fonts/freepik/turbo-type-regular-turbo-type-two-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urban Starblues Urban Starblues Graffiti Regular 400';
  src: url('/fonts/freepik/urban-starblues-urban-starblues-graffiti-regular-400.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urban Starblues Urban Starblues Sans Regular 400';
  src: url('/fonts/freepik/urban-starblues-urban-starblues-sans-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vibes Arcade Vibes Arcade Svg 400';
  src: url('/fonts/freepik/vibes-arcade-vibes-arcade-svg-400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Watten Watten Regular 400';
  src: url('/fonts/freepik/watten-watten-regular-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
